@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.placholder {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --primary-backgrundcolor: #222222;
  --primary-color: #ff0000;
  --primary-textcolor: #ffffff;
  --primary-subtextcolor: #e0dada;

  color: var(--primary-textcolor);
  background-color: var(--primary-backgrundcolor);
  font-family: "Inter", sans-serif;
}
/*Menü*/
.nav {
  background-color: var(--primary-backgrundcolor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  font-size: 0.8rem;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-menu {
  text-decoration: none;
  color: var(--primary-textcolor);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-menu:hover {
  color: var(--primary-color);
}
/*Hero*/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(src/heroImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-headline {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}

.hero-subline {
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--primary-subtextcolor);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  padding: 0 2rem;
}

.button {
  display: inline-block;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--primary-textcolor);
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}
/*Über uns*/
.aboutUs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.aboutUs-content {
  width: 100%;
}

.headline {
  margin: 0 0 1rem 0;
  width: fit-content;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-bottom: solid 1px var(--primary-color);
  font-size: 1.8rem;
}

.aboutUs-p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-subtextcolor);
}

.aboutUs-button {
  margin-top: 2rem;
}

.aboutUs-imges {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  aspect-ratio: 1 / 1;
}

.aboutUs-image-left {
  flex-grow: 2.5;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 100%;
}

.aboutUs-image-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 0%;
}

.aboutUs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.aboutUs-image-right .aboutUs-img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 0;
}

.opening-hours {
  margin: 3rem 0;
  padding: 2rem 0;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(src/hoursImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 50vh;
}

.day-hours{
  display: flex;
  justify-content: space-between;
  width: 18rem;
  margin-bottom: 0.5;
  padding: 0.5rem;
}

.days {
  color: var(--primary-textcolor);
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 1.5rem;
    font-size: 0.8rem;
  }
  .hero h1 {
    margin-top: 7rem;
  }
  .hero-headline {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-subline {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.2rem 2.5rem;
  }

  .aboutUs-p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 4rem;
  }

  .hero h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .aboutUs-headline {
    font-size: 2rem;
  }

  .aboutUs-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;
  }
  .aboutUs-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  .aboutUs-imges {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    gap: 1rem;
    aspect-ratio: auto;
    height: 60vh;
    max-height: 35rem;
  }
  .aboutUs-image-right {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
