@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.opening-hours,
.aboutUs,
.contact,
.foodcard {
  scroll-margin-top: 5rem;
}

body {
  --primary-backgrundcolor: #222222;
  --primary-color: #ff0000;
  --primary-textcolor: #ffffff;
  --primary-subtextcolor: #e0dada;
  --primarry-footer-color: #494747;

  color: var(--primary-textcolor);
  background-color: var(--primary-backgrundcolor);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
/*Menü*/
.nav {
  background-color: var(--primary-backgrundcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  font-size: 0.6rem;
  height: 5rem;
}

#nav {
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: var(--primary-color) solid 0.1rem;
}
.menu {
  text-decoration: none;
  color: var(--primary-textcolor);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-menu:hover {
  color: var(--primary-color);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(src/heroImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-headline {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
}

.hero-subline {
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--primary-subtextcolor);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  padding: 0 2rem;
}

.button {
  display: inline-block;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--primary-textcolor);
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.aboutUs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.aboutUs-content {
  width: 100%;
}

.headline {
  margin: 0 0 1rem 0;
  width: fit-content;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-bottom: solid 1px var(--primary-color);
  font-size: 1.8rem;
}

.aboutUs-p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-subtextcolor);
}

.aboutUs-button {
  margin-top: 2rem;
}

.aboutUs-imges {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  aspect-ratio: 1 / 1;
}

.aboutUs-image-left {
  flex-grow: 2.5;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 100%;
}

.aboutUs-image-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 0%;
}

.aboutUs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.aboutUs-image-right .aboutUs-img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 0;
}

.food-headline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  text-align: center;
}
.foodcard {
  margin: 0.5rem 0;
  padding: 1rem 0;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(src/foodmenu.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
  
}

.foodcard-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  


}

.foodmenu{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.foodmenu .headline{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}


.food {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5;
  padding: 0.4rem 0;
  border-bottom: 1px dashed var(--primarry-footer-color);
}

.eat {
  color: var(--primary-textcolor);
}

.price{
  color: var(--primary-subtextcolor);
  font-weight: 600;
}

.opening-hours {
  margin: 0.5rem 0;
  padding: 1rem 0;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(src/hoursImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: auto;
  font-size: 1.2rem;
}

.hours .hours {
  margin-top: 1rem;
}

.day-hours {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 0.5;
  padding: 0.5rem;
}

.days {
  color: var(--primary-textcolor);
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.contact-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 1rem 1rem 1rem;
  align-items: flex-start;
}
.contact-img {
  border-radius: 0.5rem;
  width: 100%;
}
.contact .headline {
  margin-top: 0;
}

.contact-details {
  margin-top: 1rem;
  color: var(--primary-textcolor);
}

.contact-details,
p {
  padding: 0;
}

.contact-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contact-buttons,
.button-reverse {
  text-align: center;
  width: 100%;
}

.button,
.button-reverse {
  white-space: nowrap;
}

.button-reverse {
  display: inline-block;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-backgrundcolor);
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
}

.button-reverse:hover {
  color: var(--primary-textcolor);
  background-color: var(--primary-color);
}

.footer-nav {
  border-top: var(--primary-color) solid 0.1rem;
  padding-top: 3rem;
  background-color: var(--primarry-footer-color);
}
.footer-menu {
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  background-color: var(--primarry-footer-color);
}

.nav-footer:hover {
  color: var(--primary-color);
}

.footer-copy {
  text-align: center;
  font-size: 0.8rem;
  color: var(--primary-subtextcolor);
  background-color: var(--primarry-footer-color);
}

.footer-copy,
p {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 1.5rem;
    font-size: 1rem;
  }
  .hero h1 {
    margin-top: 7rem;
  }
  .hero-headline {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-subline {
    font-size: 1.5rem;
  }

  .button,
  .button-reverse {
    padding: 1.2rem 2.5rem;
  }

  .aboutUs-p {
    font-size: 1rem;
  }
  .contact-contents {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .contact-img {
    width: 100%;
  }

  .footer-menu {
    flex-direction: row;
    font-size: 1rem;
  }

  .foodcard-menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
  
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 4rem;
  }

  .hero h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .aboutUs-headline {
    font-size: 2rem;
  }

  .aboutUs-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;
  }
  .aboutUs-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  .aboutUs-imges {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    gap: 1rem;
    aspect-ratio: auto;
    height: 60vh;
    max-height: 35rem;
  }
  .aboutUs-image-right {
    gap: 1rem;
  }

  .contact-buttons {
    flex-direction: row;
  }

  .contact-buttons .button,
  .contact-buttons .button-reverse {
    padding: 0.8rem 1rem;
  }

  .contact-details {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contact .headline {
    margin-bottom: 2rem;
  }

  .contact-img {
    width: 80%;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
}